<%- include('partials/loginheader.ejs'); %>
<main>
  <%- include('partials/breadcrumb.ejs'); %>
  <link rel="stylesheet" href="/css/mypage.css" />
  <h1>オークションスケジュール確認(商品一覧確認)</h1>
  <table class="uk-table uk-table-justify uk-table-divider">
    <tr>
      <td></td>
      <td>車名</td>
      <td>メーカー名</td>
      <td>値段</td>
      <td>オークション開始時間</td>
      <td>オークション終了時間</td>
      <td>オークション終了まで</td>
    </tr>
    <% for(let i = 0; i < ejsRender.sql.length; i++) { %>
    <tr>
      <td>
        <a href="/bidding/<%= ejsRender.sql[i].product_id %>"
          ><button class="uk-button uk-button-default" type="button">入札ページへ</button></a
        >
      </td>
      <td><%= ejsRender.sql[i].car_name %></td>
      <td><%= ejsRender.sql[i].maker_name %></td>
      <td><%= ejsRender.sql[i].start_price %></td>
      <td><%= ejsRender.sql[i].start_time %></td>
      <td><%= ejsRender.sql[i].end_time %></td>
      <td class="timeLeft"></td>
    </tr>
    <% } %>
  </table>
</main>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>');
  console.log(info);
</script>
<script type="text/javascript" src="/js/mypage.js"></script>
<%- include('partials/footer.ejs'); %>
