<%- include('partials/loginheader.ejs'); %>
<link rel="stylesheet" href="/css/bidding.css" />
<main>
  <%- include('partials/breadcrumb.ejs'); %>
  <h2 class="biddingH2">
    オークションNo<%= ejsRender.params.productId %> <%= ejsRender.sql[0].car_name %>の入札開催中
    <a
      href="/product/<%= ejsRender.params.productId %>"
      style=" font-size: smaller; margin-left: 30px; "
      >商品詳細はこちら</a
    >
    <span style=" font-size: smaller; margin-left: 30px;">入札履歴</span>
  </h2>
  <!-- 商品画像 -->
  <div
    class="uk-flex"
    style="
    padding-bottom: 100px;
"
  >
    <div style="width:1050px;height:400px">
      <div class="uk-position-relative" uk-slideshow="animation: fade">
        <ul class="uk-slideshow-items">
          <li>
            <img src="https://www.suzuki.co.jp/car/ignis/styling/img/img08.jpg" alt="" uk-cover />
          </li>
          <li>
            <img src="https://www.suzuki.co.jp/car/ignis/styling/img/img10.jpg" alt="" uk-cover />
          </li>
          <li>
            <img src="https://www.suzuki.co.jp/car/ignis/styling/img/img09.jpg" alt="" uk-cover />
          </li>
        </ul>
        <div class="uk-position-bottom-center uk-position-small">
          <ul class="uk-thumbnav">
            <li uk-slideshow-item="0">
              <a href="#"
                ><img
                  src="https://www.suzuki.co.jp/car/ignis/styling/img/img08.jpg"
                  width="60"
                  height="60"
                  alt=""
              /></a>
            </li>
            <li uk-slideshow-item="1">
              <a href="#"
                ><img
                  src="https://www.suzuki.co.jp/car/ignis/styling/img/img10.jpg"
                  width="60"
                  height="60"
                  alt=""
              /></a>
            </li>
            <li uk-slideshow-item="2">
              <a href="#"
                ><img
                  src="https://www.suzuki.co.jp/car/ignis/styling/img/img09.jpg"
                  width="60"
                  height="60"
                  alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul id="biddingLog" style="width: 270px; height: 400px;" class="uk-panel uk-panel-scrollable">
      <% ejsRender.sql.forEach((value, key) => { %>
      <li>
        <p class="biddingP">
          入札No:<span id="biddingLogId"><%- key + 1 %></span> 入札価格:<%= value.bidding_money
          %>万円<span style="display: block;"
            >入札者番号:<%= value.user_id %>入札時間:<%- value.bidding_time %></span
          >
        </p>
      </li>
      <% }) %>
    </ul>
  </div>
  <div class="uk-flex" style="gap: 100px;">
    <!-- 最高価格 -->
    <h3>
      <p>
        現在 最高価格...<span id="maxBiddingMoney"> <%=ejsRender.max.bidding_money %></span>万円で
      </p>
      <p><span id="maxUserId"><%= ejsRender.max.user_id %></span>番様が</p>
      <p>
        <span id="maxBiddingTime">
          <%- ejsRender.max.diff.days %>日<%- ejsRender.max.diff.hours %>時<%-
          ejsRender.max.diff.minutes %>分<%- ejsRender.max.diff.seconds %>秒</span
        >前に入札中
      </p>
    </h3>
    <!-- 残り時間 -->
    <h3 class="biddingH3">入札終了まで残り時間<span class="timeLeft"></span></h3>
  </div>
  <div style="display: flex; gap:10px;">
    <form id="biddingForm">
      <input id="userId" type="hidden" value="<%= ejsRender.user.user_id %>" />
      <input
        id="biddingMoney"
        type="number"
        min="<%- ejsRender.max['MAX(bidding_money)'] + 100 %>"
        step="10"
        placeholder="<%= ejsRender.max['MAX(bidding_money)'] + 100 %>から振込めます"
        required
      />
    </form>
    <form id="biddingFormBtn" style="display: flex; gap:10px;">
      <input id="userId" type="hidden" value="<%= ejsRender.user.user_id %>" />
      <input
        id="biddingMoneyBtn"
        type="hidden"
        value="<%= ejsRender.max['MAX(bidding_money)'] %>"
      />
      <input type="submit" class="button" id="1" value="+1万円" />
      <input type="submit" class="button" id="10" value="+10万円" />
      <input type="submit" class="button" id="100" value="+100万円" />
      <input type="submit" class="button" id="1000" value="+1000万円" />
    </form>
  </div>
</main>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>');
  console.log(info);
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js"></script>
<script>
  const DateTime = luxon.DateTime;
  // console.log(info.max[0]['MAX(bidding_time)'])
  // console.log(DateTime.fromISO(info.max[0]['MAX(bidding_time)']));
  const dt = DateTime.now().diff(DateTime.fromISO(info.max.bidding_time), ['days', 'hours', 'minutes', 'second']);
  // console.log(dt)
</script>
<!-- countdown -->
<script type="text/javascript" src="/js/mypage.js"></script>
<script src="/js/bidding.js"></script>
<%- include('partials/footer.ejs'); %>
