<%- include('partials/loginheader.ejs'); %>
<link rel="stylesheet" href="/css/mypage.css" />
<main>
  <h1 class="visually-hidden">マイページ</h1>
  <%- include('partials/breadcrumb.ejs'); %>
  <article>
    <h2>マイ・オークション管理</h2>
    <div id="mypageList">
      <section>
        <h3>入札一覧</h3>
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th>オークションID</th>
              <th>車名</th>
              <th>画像</th>
              <th>現時点最大入札金額</th>
              <th>あなたの最大入札金額</th>
              <th>現時点最終入札時間</th>
              <th>オークション終了まで</th>
              <th>入札ページへ</th>
            </tr>
          </thead>
          <tbody>
            <% ejsRender.sql.forEach((value, key) => { %>
            <tr>
              <td><%= ejsRender.sql[key].product_id %></td>
              <td><%= ejsRender.sql[key].car_name %></td>
              <td>
                <p>
                  <img
                    src="<%= ejsRender.sql[key].car_img %>"
                    alt="車の画像"
                    width="75px"
                    height="50px"
                  />
                </p>
              </td>
              <td>
                <!-- 最大入札者が誰かによって表示を変える -->
                <%_ if(ejsRender.sql[key].product_id === ejsRender.sql2[key].product_id) { _%> <%_
                if(ejsRender.sql[key]['MAX(bidding_money)'] >=
                ejsRender.sql2[key]['MAX(bidding_money)']) { _%>
                <p>最大入札者は貴方です<%= ejsRender.sql2[key]['MAX(bidding_money)'] %></p>
                <%_ } else { _%>
                <p>
                  あと+<%- ejsRender.sql2[key]['MAX(bidding_money)'] -
                  ejsRender.sql[key]['MAX(bidding_money)'] + 100 %>円で貴方が最大入札者です
                </p>
                <%_ } _%> <%_ } _%>
              </td>
              <td><%= ejsRender.sql[key]['MAX(bidding_money)'] %>円</td>
              <td>
                <%_ if(ejsRender.sql[key].product_id === ejsRender.sql2[key].product_id) { _%>
                <p><%= ejsRender.sql2[key]['MAX(bidding_time)'] %></p>
                <%_ } _%>
              </td>
              <td class="timeLeft"></td>
              <td>
                <button class="uk-button uk-button-default" type="button">入札ページへ</button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
      <section>
        <h3>落札一覧</h3>
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th>オークションID</th>
              <th>車名</th>
              <th>画像</th>
              <th>落札金額</th>
              <th>入金状態</th>
              <th>入札、領収書はこちら</th>
            </tr>
          </thead>
          <tbody>
            <% ejsRender.sql3.forEach((value, key) => { %>
            <tr>
              <td><%= ejsRender.sql3[key].product_id %></td>
              <td><%= ejsRender.sql3[key].car_name %></td>
              <td>
                <p>
                  <img
                    src="<%= ejsRender.sql3[key].car_img %>"
                    alt="車の画像"
                    width="75px"
                    height="50px"
                  />
                </p>
              </td>
              <td><%= ejsRender.sql3[key]['MAX(bidding_money)'] %>円</td>
              <td>
                <%_ if(ejsRender.sql3[key].product_state === 2 ) { _%>
                <p>入金前</p>
                <%_ } else { _%>
                <p>いつもお支払いありがとうございます<%= ejsRender.sql3[key].product_state %></p>
                <%_ } _%>
              </td>
              <td>
                <%_ if(ejsRender.sql3[key].product_state === 2 ) { _%>
                <button class="uk-button uk-button-default" type="button">入金ページへ</button> <%_
                } else { _%>
                <button class="uk-button uk-button-default" type="button">
                  領収書印刷はこちら
                </button>
                <%_ } _%>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </div>
    <section>
      <h3>アカウント情報変更</h3>
      <ul id="acountSettingList" class="uk-flex" style="gap: 10px;">
        <li>
          <a class="uk-button uk-button-default mypageButton" href="#modal-center" uk-toggle
            ><button>アカウント変更</button></a
          >
          <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h4>アカウント情報変更</h4>
              <form action="/mypage/acount" method="POST">
                <div>
                  <label for="user_login_id">ログインID</label>
                  <input type="text" value="<%= ejsRender.sql4[0].user_login_id %>" readonly />
                </div>
                <div>
                  <label for="password">パスワード</label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                  />
                </div>
                <div class="loginButton">
                  <button type="submit" style="width: 100%;">変更</button>
                </div>
              </form>
            </div>
          </div>
        </li>
        <li>
          <a class="uk-button uk-button-default mypageButton" href="#modal-card" uk-toggle
            ><button>カード情報変更</button></a
          >
          <div id="modal-card" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h4>カード情報変更</h4>
              <form action="/mypage/card" method="POST">
                <div>
                  <label for="card_number">クレカ番号</label>
                  <input
                    name="card_number"
                    id="card_number"
                    type="number"
                    value="<%= ejsRender.sql4[0].card_number %>"
                    autocomplete="cc-number"
                    maxlength="12"
                    required
                  />
                </div>
                <div>
                  <label for="card_key">クレカセキュリティコード</label>
                  <input
                    id="card_key"
                    name="card_key"
                    type="number"
                    value="<%= ejsRender.sql4[0].card_key %>"
                    autocomplete="cc-csc"
                    maxlength="3"
                    required
                  />
                </div>
                <div class="loginButton">
                  <button type="submit" style="width: 100%;">変更</button>
                </div>
              </form>
            </div>
          </div>
        </li>
        <li>
          <a class="uk-button uk-button-default mypageButton" href="#modal-address" uk-toggle
            ><button>配達先住所変更</button></a
          >
          <div id="modal-address" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h4>配達先住所登録・変更</h4>
              <form action="/mypage/address" method="POST">
                <div>
                  <label for="user_name">user_name</label>
                  <input
                    type="text"
                    name="user_name"
                    id="user_name"
                    autocomplete="name"
                    value="<%= ejsRender.sql4[0].user_name %>"
                  />
                </div>
                <div>
                  <label for="user_mail">メール</label>
                  <input
                    type="mail"
                    name="user_mail"
                    id="user_mail"
                    autocomplete="email"
                    value="<%= ejsRender.sql4[0].user_mail %>"
                    required
                  />
                </div>
                <div>
                  <label for="user_post_code">郵便番号</label>
                  <input
                    type="text"
                    name="user_post_code"
                    id="user_post_code"
                    value="<%= ejsRender.sql4[0].user_post_code %>"
                    autocomplete="postal-code"
                    required
                  />
                </div>
                <div>
                  <label for="user_address">住所変更</label>
                  <input
                    id="user_address"
                    name="user_address"
                    type="text"
                    value="<%= ejsRender.sql4[0].user_address %>"
                    autocomplete="street-address"
                    required
                  />
                </div>

                <div>
                  <label for="user_phone_number">携帯番号</label>
                  <input
                    id="user_phone_number"
                    name="user_phone_number"
                    type="tel"
                    value="<%= ejsRender.sql4[0].user_phone_number %>"
                    autocomplete="tel-national"
                    required
                  />
                </div>
                <div class="loginButton">
                  <button type="submit" style="width: 100%;">変更</button>
                </div>
              </form>
            </div>
          </div>
        </li>
        <li>
          <a class="uk-button uk-button-default mypageButton" href="#modal-drop" uk-toggle
            ><button>アカウント退会</button></a
          >
          <div id="modal-drop" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <h4>アカウント情報削除</h4>
              <form action="/mypage/drop" method="POST">
                <div class="loginButton">
                  <button type="submit" style="width: 100%;">退会する</button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </article>
  <!-- 機能一覧表示 -->
</main>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>'); console.log(info);
</script>
<script type="text/javascript" src="/js/mypage.js"></script>
<%- include('partials/footer.ejs'); %>
